.slide-in-enter-active, 
  transition: transform .3s ease-out, opacity 0.2s ease-out 0.1s

.slide-in-leave-active
  transition: transform .3s ease-in, opacity 0.2s ease-in 0.1s

.slide-in-enter
  opacity: 0
  transform: translateX(-500px)

.slide-in-leave-to
  opacity: 0
  transform: translateX(500px)
