.slide-in-enter-active, 
  transition: all .2s ease-out

.slide-in-leave-active
  transition: all .2s ease-in

.slide-in-enter
  opacity: 0
  transform: translateX(-200px)

.slide-in-leave-to
  opacity: 0
  transform: translateX(200px)
